@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    font-family: "Winky Sans", sans-serif;;
    background-color: #27033D;
}

.hide-content {
    display: none !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
}

.gameHeading {
    margin: 2rem;
}

.gameHeading span:nth-child(1),
.gameHeading span:nth-child(3) { 
    color: #72CFF9; 
}  
.gameHeading span:nth-child(2) {
    color: #DCBF3F; 
}

.scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3.5rem;
}

.scores div {
    height: 80px;
    width: 80px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores div h4 {
    font-weight: 500;
    font-size: 12px;
}

.scores div p {
    font-size: 24px;
    font-weight: 600;
}

.winCountX {
    background-color: rgb(114, 207, 249);
    box-shadow: 0 0 1rem rgba(114, 207, 249, 0.5);
}

.drawCount {
    background-color: rgb(194, 218, 246);
    box-shadow: 0 0 1rem rgba(194, 218, 246, 0.5);
}

.winCountO {
    background-color: rgb(220, 191, 63);
    box-shadow: 0 0 1rem rgba(220, 191, 63, 0.5);
}

.gameBoard {
    max-height: 42vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cell {
    height: 80px;
    width: 80px;
    border-radius: 0.8rem;
    border: none;
    background-color: #3D1558;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
}

.resultContainer {
    margin-top: 2.5rem;
}

#result {
    color: #fff;
    background-color: green;
    padding: 0.5rem 3.2rem;
    border-radius: 0 0.5rem 0 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 128, 0, 0.7);
}

.btns {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

#newGameBtn, #resetScoreBtn {  
    padding: 1rem 1.6rem;
    background-color: #F4F6F5;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s;
}

#newGameBtn:hover, #resetScoreBtn:hover {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.4);
}

.hide {
    visibility: hidden;
}


/* Loader */

.absolute {
    position: absolute;
}
  
.inline-block {
    display: inline-block;
}
  
.loader {
    display: flex;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center it */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.dash {
    animation: dashArray 2s ease-in-out infinite,
      dashOffset 2s linear infinite;
}
  
.spin {
    animation: spinDashArray 2s ease-in-out infinite,
      spin 8s ease-in-out infinite,
      dashOffset 2s linear infinite;
    transform-origin: center;
}
  
@keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
}
  
@keyframes spinDashArray {
    0% {
      stroke-dasharray: 270 90;
    }
  
    50% {
      stroke-dasharray: 0 360;
    }
  
    100% {
      stroke-dasharray: 270 90;
    }
}
  
@keyframes dashOffset {
    0% {
      stroke-dashoffset: 365;
    }
  
    100% {
      stroke-dashoffset: 5;
    }
}
  
@keyframes spin {
    0% {
      rotate: 0deg;
    }
  
    12.5%,
    25% {
      rotate: 270deg;
    }
  
    37.5%,
    50% {
      rotate: 540deg;
    }
  
    62.5%,
    75% {
      rotate: 810deg;
    }
  
    87.5%,
    100% {
      rotate: 1080deg;
    }
}

.hide-loader {
    display: none;
}
  